@charset "UTF-8";
#kv{
    background: #C40018;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kv p{
    left: -6rem;
}

#kv img{
    width: 60rem;
}

#app{
    width: 85%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

#app h2{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 7.5rem;
    margin-bottom: 8rem;
    font-weight: normal;
}

#app > p{
    margin-bottom: 7.5rem;
    text-align: center;
}

#app .point{
    background: url("../img/point_bg.svg") no-repeat center center/contain;
    padding: 10rem 10rem 5rem;
    margin-bottom: 11rem;
}

#app .point p{
    font-size: 4.6rem;
    color: #C40018;
    line-height: 200%;
}

#app .download{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 27rem;
}

#app .download > p{
    font-size: 4.6rem;
    color: #3F3F3F;
    margin-bottom: 3.5rem;
}

@keyframes download{
    0%{
        transform: translateY(-2rem);
    }
    50%{
        transform: translateY(2rem);
    }
    100%{
        transform: translateY(-2rem);
    }
}

#app .download > img{
    height: 17rem;
    margin-bottom: 3.5rem;
    animation: download 2s ease-in-out infinite;
}

#app .download div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#app .download div a{
    width: 45%;
}

#app .download div a img{
    width: 100%;
}

#app .other_menu{
    border: 1px dashed #707070;
    width: 100%;
    padding: 1rem;
    border-radius: 10rem;
    position: relative;
    color: #3F3F3F;
    margin-bottom: 24.5rem;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

#app .other_menu::before{
    position: absolute;
    content: "";
    height: 31rem;
    width: 31rem;
    background: url("../img/symbol.svg") no-repeat center center/contain;
    opacity: .1;
    right: 68%;
    margin-right: -50%;
    transform: translate(50%, 50%);
    bottom: 50%;
}

#app .other_menu::after{
    position: absolute;
    content: "ホルモンアプリ";
    color: #3F3F3F;
    font-size: 17.4rem;
    width: fit-content;
    opacity: .1;
    font-family: ta-f1blockline, sans-serif;
    right: 50%;
    margin-right: -3%;
    transform: translate(50%, -50%);
    top: -4rem;
    z-index: -1;
}

#app .other_menu h3{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 6.4rem;
    font-weight: normal;
    position: absolute;
    top: -7rem;
    left: 10rem;
}

#app .other_menu > div{
    background: white;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 7rem 0 0;
}

#app .other_menu > div > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin: 1rem 0;
    transform: translateX(5rem);
}

#app .other_menu > div > div > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#app .other_menu p{
    font-size: 3.5rem;
    width: 80%;
}

#app .other_menu div .block_line{
    font-size: 4.6rem;
    width: auto;
    border: 5px solid #3F3F3F;
    margin-right: 5rem;
}

#app .other_menu .caution{
    font-size: 2.1rem;
    margin-top: 7rem;
    margin-left: 12rem;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

@media screen and (max-width: 767px){
    #app{
        width: 75%;
    }

    #app > p{
        margin-bottom: 1rem;
    }

    #app h2{
        font-size: 8rem;
        letter-spacing: 1rem;
        margin-bottom: 13.5rem;
    }
    #app .other_menu::after{
        display: none;
    }

    #app .point{
        padding: 15rem 10rem 8rem;
        margin-bottom: 10rem;
    }

    #app .point p {
        font-size: 7.5rem;
    }

    #app .download{
        margin-bottom: 20rem;
    }

    #app .download > p{
        font-size: 6.3rem;
        margin-bottom: 5.5rem;
    }

    #app .download > img{
        height: unset;
        width: 100%;
        margin-bottom: 5rem;
    }

    #app .other_menu{
        width: 107%;
        transform: translateX(-5%);
        margin-bottom: 34rem;
    }

    #app .other_menu h3{
        font-size: 6rem;
        left: 3rem;
    }

    #app .other_menu > div > div{
        justify-content: space-between;
        width: 85%;
    }

    #app .other_menu div .block_line{
        font-size: 6.8rem;
        border: 3px solid #3F3F3F;
        width: max-content;
    }

    #app .other_menu p{
        font-size: 3.8rem;
        width: 66%;
    }

    #app .other_menu .caution{
        width: 100%;
        font-size: 3.2rem;
        margin: 7rem 0;
        margin-left: 10rem;
    }

    #app .other_menu::before{
        bottom: 0;
        right: 62%;
        z-index: -1;
    }
}