@charset "UTF-8";
html{
    font-size: 0.5208vw;
    scroll-behavior: smooth;
    font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

body{
    margin: 0;
    background: #F5F0E3;
    overflow-x: hidden;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    margin: 0;
}

h3{
    margin: 0;
}

h4{
    margin: 0;
}

p{
    margin: 0;
}

.main_txt{
    font-size: 3.25rem;
}

.sub_txt{
    font-size: 2.2rem;
}

.block_line{
    font-family: ta-f1blockline, sans-serif;
}

.pc_only{
    display: block;
}

.pc_flex{
    display: flex;
}

.pc_inline{
    display: inline;
}

.sp_only{
    display: none;
}

header{
    height: 13rem;
    background: #F5F0E3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    z-index: 9999;
}

header .wrap{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrap .header_logo{
    height: 10rem;
    transition: all .2s ease-in-out;
}

header .wrap .header_logo:hover{
    opacity: .3;
    transition: all .3s ease-in-out;
}

header .wrap nav{
    width: 45%;
}

header .wrap nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .wrap nav ul img{
    height: 5rem;
    transition: all .2s ease-in-out;
}

header .wrap nav ul img:hover{
    opacity: .3;
    transition: all .3s ease-in-out;
}

main{
    padding-top: 13rem;
    overflow-x: hidden;
    color: #3F3F3F;
}


#kv{
    background: url("../img/kv_pc.jpg") no-repeat center center/cover;
    height: 80.6rem;
    width: 92.86%;
    position: relative;
}

#kv p{
    transform: rotateZ(90deg);
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    position: absolute;
    left: -18rem;
    bottom: 45%;
    color: #3F3F3F;
}


.side_menu{
    position: fixed;
    top: 13rem;
    right: 0;
    width: 7.14%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80.6rem;
    z-index: 999;
    background: #F5F0E3;
}

.side_menu > div{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.side_menu > a{
    background: #C40018;
    height: 60%;
    width: 75%;
    text-align: center;
    font-size: 4.6rem;
    color: white;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    padding-right: 25%;
}

.side_menu img{
    width: 5.8rem;
    transition: all .2s ease-in-out;
}

.side_menu img:hover{
    opacity: .3;
    transition: all .3s ease-in-out;
}

.side_menu > a img{
    margin-bottom: 1rem;
}

footer{
    background: #C40018;
    color: white;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    position: relative;
}

footer .footer_recruit{
    position: absolute;
    background: #418D43;
    width: 52rem;
    height: 14rem;
    top: -14rem;
    right: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

footer .footer_recruit a{
    font-size: 4.6rem;
}

footer > p{
    text-align: center;
    font-size: 2.3rem;
}

footer a{
    color: white;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

footer .wrap{
    width: 85%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: flex-start;
    padding: 11rem 0 6rem;
}

footer .footer_logo{
    height: 11rem;
    margin-bottom: 7rem;
}

footer .wrap a{
    opacity: 1;
    transition: all .2s ease-in-out;
}

footer .wrap a:hover{
    opacity: .5;
    transition: all .3s ease-in-out;
}

footer .wrap .left .pc_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .wrap .left{
    width: 15%;
}

footer .wrap .left .pc_flex a img{
    width: 5.5rem;
}

footer .wrap .center{
    width: 40%;
}

footer .wrap .right{
    width: 31%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .wrap .center p{
    font-size: 4.2rem;
}

footer .wrap .right a{
    font-size: 3.25rem;
    position: relative;
    margin-bottom: 3.5rem;
}

footer .wrap .right a::before{
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 2rem;
    left: -3rem;
    transform: translate(50%, 50%);
    bottom: 50%;
    background: url("../img/footer_list_style.svg") no-repeat center center/contain;
}

@media screen and (max-width: 767px) {
    html{
        font-size: 0.8508vw;
    }

    .pc_only{
        display: none;
    }
    
    .sp_only{
        display: block;
    }

    .pc_flex{
        display: none !important;
    }

    .pc_inline{
        display: none;
    }

    .main_txt{
        font-size: 4.37rem;
    }

    .sub_txt{
        font-size: 4.37rem;
    }

    header{
        height: 17rem;
    }

    header .wrap{
        width: 100%;
    }

    header .wrap .header_logo{
        margin-left: 3rem;
        height: 14.5rem;
    }

    #nav{
        padding: 0;
        position: fixed;
        width: 100%;
        height: calc(100vh - 16.5rem);
        right: -100%;
        top: 17rem;
        background: white;
        transition: all .7s ease-in-out;
        z-index: 1;
        opacity: 0;
        overflow-y: scroll;
        line-height: 1.2;
    }

    #nav .nav_wrap{
        width: 85%;
        margin: auto;
        margin-top: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    }

    #nav .nav_wrap ul{
        flex-direction: column;
    }

    header .wrap nav ul img{
        height: 15rem;
        margin-bottom: 15rem;
    }

    #nav .nav_wrap .sns{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 11rem;
    }

    #nav .nav_wrap .sns img{
        margin: 0 5rem;
        width: 10rem;
    }

    #nav .nav_wrap > a{
        font-size: 6.5rem;
        color: #3F3F3F;
        margin-bottom: 13rem;
    }

    #nav .nav_wrap > a img{
        width: 6.5rem;
        margin-right: 2rem;
    }

    #nav .nav_wrap .app_list{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6rem;
    }

    #nav .nav_wrap .app_list a{
        width: 48%;
    }

    #nav .nav_wrap .app_list img{
        width: 100%;
    }

    #nav .nav_wrap > p{
        position: relative;
        font-size: 4.4rem;
    }

    #nav .nav_wrap > p::before{
        position: absolute;
        content: "";
        height: 3px;
        background: #C40018;
        opacity: .5;
        width: 100%;
        bottom: .1rem;
        z-index: 10;
    }

    #hamburger {
        width: 17rem;
        height: 17rem;
        transition: all 1s ease-out;
        background: #C40018;
        position: relative;
        z-index: 1;
    }

    .inner_line {
        display: block;
        position: absolute;
        right: 50%;
        margin-right: -50%;
        transform: translate(-50%, 50%);
        bottom: 50%;
        width: 50%;
        height: 3px;
        background-color: white;
        transition: all 1s ease-out;
    }

    #line1 {
        top: 30%;
    }

    #line2 {
        top: 47%;
    }

    #line3 {
        bottom: 30%;
    }

    .in{
        transform: translateX(-100%);
        opacity: 1 !important;
    }

    .line_1,.line_2,.line_3{
        background: white;
        z-index: 100;
    }

    .line_1 {
        transform: translate(-4rem, 3rem) rotate(-45deg);
        top: 0;
    }

    .line_2 {
        opacity: 0;
    }
    
    .line_3 {
        transform: translate(-4rem, -3rem) rotate(45deg);
        bottom: 0;
    }

    .side_menu{
        top: unset;
        bottom: 0;
        width: 15rem;
        height: 75rem;
    }

    .side_menu img{
        width: 10rem;
    }

    .side_menu > a{
        height: 45rem;
    }

    .side_menu > a img{
        width: 5rem;
    }

    #kv{
        width: 100%;
        height: 119rem;
    }

    footer{
        width: 87.6%;
    }

    footer p{
        font-size: 3.2rem;
    }

    footer .footer_recruit{
        width: 100%;
        left: 0;
        right: unset;
    }

    footer .footer_recruit a{
        font-size: 7.5rem;
        transform: translateX(8rem);
    }

    footer .wrap{
        margin-right: 0;
        width: 95%;
        align-items: flex-end;
        padding: 6rem 0;
    }

    footer .wrap .left{
        width: 55%;
    }

    footer .wrap .left div{
        flex-direction: column;
        align-items: flex-start;
    }

    footer .footer_logo{
        height: 17.3rem;
        margin-bottom: .5rem;
    }

    footer .wrap .right{
        width: 39%;
    }

    footer .wrap .right a{
        font-size: 3.8rem;
    }

    footer > p{
        transform: translateX(8rem);
    }
}

@media screen and (max-width: 320px){
    html{
        font-size: 0.6808vw;
    }

    footer{
        width: 90%;
    }

    footer .wrap .left {
        width: 56%;
    }

    footer .wrap .right{
        width: 37%;
    }
}