@charset "UTF-8";

#contact{
    width: 85%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

#contact h2{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 7.5rem;
    margin-bottom: 8rem;
}

#contact > p{
    margin-bottom: 7.5rem;
}

#form{
    width: calc(85% - 42rem);
    margin: auto;
    padding: 11.5rem 21rem;
    border-radius: 10rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    font-size: 3rem;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin-bottom: 23rem;
}

#form .row{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
}

#form .row > div{
    width: 51%;
}

#form .row > div:first-child{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

#form .row > div input{
    width: calc(100% - 1rem);
}

#form p{
    color: #C40018;
}

label{
    width: 45%;
}

input, textarea{
    width: 50%;
    border: none;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 16%);
    padding: .5rem;
    font-size: 28px;
}


textarea{
    height: 373px;
}

.button_wrap{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_wrap button{
    font-size: 3.25rem;
    background: none;
    border: 1px solid #3F3F3F;
    padding: 3rem 10rem;
    font-weight: 600;
    color: #3F3F3F;
}

@media screen and (max-width: 767px){
    #contact{
        width: 75%;
    }

    #contact h2{
        font-size: 10rem;
        letter-spacing: 1rem;
        margin-bottom: 15rem;
    }

    #contact > p{
        margin-bottom: 17rem;
    }

    label{
        width: unset;
        font-size: 5rem;
        margin-bottom: 2.5rem;
    }

    #form{
        padding: 10rem 9rem;
        width: 74%;
        margin-bottom: 27.5rem;
    }

    #form .row{
        flex-direction: column;
        margin-bottom: 4rem;
    }

    #form .row > div:first-child{
        justify-content: flex-start;
        width: 100%;
    }

    #form .row p{
        margin-left: 5rem;
        font-size: 5rem;
    }

    input{
        width: 100%;
    }

    textarea{
        width: calc(100% - 1rem);
        height: calc(60rem - 1rem);
    }

    #form .row > div{
        width: 100%;
    }

    .button_wrap button{
        font-size: 5rem;
        padding: 6rem 20rem;
        margin-top: 7rem;
        border-radius: 3rem;
    }
}