@charset "UTF-8";
#message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 12rem;
    position: relative;
}

#message .message_txt{
    height: 83rem;
}

#message p{
    width: 41%;
    margin: 5.6rem 0 12rem;
}

.message_bottom{
    width: 55.8rem;
}

#message::before{
    position: absolute;
    content: "";
    left: 0;
    margin-right: 0;
    transform: translate(0, 50%);
    bottom: 35rem;
    height: 85rem;
    width: 90%;
    background: url("../img/message_bg.svg") no-repeat center center/contain;
    z-index: -1;
}

#feature{
    background: #418D43;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    flex-direction: column;
    color: white;
}

#feature > img{
    height: 11.7rem;
    margin-bottom: 3.7rem;
}

#feature .wrap{
    width: 85%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5.7rem;
}

#feature .wrap div{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#feature .wrap div img{
    height: 10.5rem;
    margin-bottom: 4rem;
}

#feature a{
    color: white;
    border: 1px solid #707070;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    border-radius: 10rem;
    width: 52.5rem;
    padding: 3.5rem 0;
}

#feature a:hover{
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 16%);
}

#menu{
    display: flex;
    padding-top: 17.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    max-width: 1440px;
    margin: auto;
    position: relative;
    margin-bottom: 33rem;
}

#menu h2{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 7.5rem;
    margin-bottom: 6rem;
}

#menu > img{
    width: 100%;
    margin-bottom: 18.5rem;
}

#menu .menu_kv_txt{
    position: absolute;
    color: #C40018;
    font-size: 4.65rem;
    top: 66rem;
    left: 2rem;
    width: fit-content;
    line-height: 150%;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
}

#menu > p{
    width: 41%;
}

#menu .menu_list{
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 6rem;
}

#menu .menu_list > div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu .menu_list > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu .menu_list img{
    width: 43rem;
}

#menu .menu_list h3{
    font-size: 4rem;
    margin-top: 4rem;
    margin-bottom: 2.5rem;
}

#menu .menu_list p{
    font-size: 2.7rem;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

#menu .menu_list p+p{
    margin-top: 2rem;
}

#menu > a{
    color: white;
    background: #418D43;
    border: 1px solid #707070;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 16%);
    border-radius: 10rem;
    width: 52.5rem;
    padding: 3.5rem 0;
}

#menu > a:hover{
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 16%);
}

@media screen and (max-width: 767px){
    .side_txt{
        position: fixed;
        left: 1rem;
        font-size: 4.4rem;
        top: 140rem;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
    }

    #message{
        width: 75%;
        margin: auto;
    }

    #message .message_txt{
        height: unset;
        width: 130%;
    }

    #message p{
        width: 100%;
    }

    #message::before{
        background: url("../img/message_bg_sp.svg") no-repeat center center/contain;
        width: 119rem;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    #feature > img{
        height: unset;
        width: 85%;
        margin-bottom: 9.5rem;
    }

    #feature{
        padding: 9.5rem 0;
    }

    #feature .wrap{
        width: 75%;
        flex-direction: column;
        margin-bottom: 0;
    }

    #feature .wrap div{
        width: 100%;
        align-items: flex-start;
        margin-bottom: 9rem;
    }
    
    #feature .wrap div img{
        height: 7.5rem;
    }

    #feature a{
        width: 75%;
        font-size: 5rem;
    }

    #menu{
        padding-top: 0;
        width: 100%;
    }

    #menu .menu_list{
        flex-direction: column;
        width: 75%;
    }

    #menu .menu_kv_txt{
        font-size: 7.5rem;
        top: 20rem;
        left: 50%;
        transform: translate(-50%, 50%);
        width: fit-content;
        line-height: 150%;
    }

    #menu h2{
        font-size: 11rem;
    }

    #menu > p{
        width: 75%;
    }

    #menu .menu_list > div{
        width: 100%;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 8rem;
    }

    #menu .menu_list > div > div{
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    #menu .menu_list img{
        width: 42rem;
    }

    #menu .menu_list h3{
        font-size: 4.4rem;
        margin-top: 0
    }

    #menu .menu_list p{
        font-size: 3.7rem;
    }

    #menu > a{
        width: 75%;
    }
}

@media screen and (max-width: 320px){
    #menu .menu_kv_txt{
        font-size: 9.5rem;
        top: 25rem;
    }
}