@charset "UTF-8";
#kv p{
    left: -14rem;
}

#menu{
    width: 85%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

#menu h2{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 6.4rem;
    margin-bottom: 8rem;
    font-weight: normal;
}

#menu > p{
    margin-bottom: 7.5rem;
    text-align: center;
}

#menu .menu_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 35rem;
    position: relative;
}

#menu .menu_list::before{
    position: absolute;
    content: "ホルモン王子";
    font-size: 25rem;
    font-family: ta-f1blockline, sans-serif;
    color: white;
    width: max-content;
    transform: rotateZ(-30deg) translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;
}

#menu .menu_list > div{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#menu .menu_list > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#menu .menu_list div img{
    height: 56rem;
    transform: translateX(-5rem);
}

#menu .menu_list div .last{
    transform: translateX(-1.5rem)
}

#menu .menu_list div h3{
    font-size: 4rem;
    color: #3F3F3F;
    margin-top: 3rem;
    margin-bottom: 1.8rem;
}

#menu .menu_list div p{
    width: 80%;
    text-align: center;
    line-height: 180%;
}

#menu .menu_list div:nth-child(3){
    margin-top: 9rem;
}

#menu .menu_list div:nth-child(4){
    margin-top: 9rem;
}

#menu .menu_list > div:nth-child(even){
    transform: translateY(20rem);
}

#menu .other_menu{
    border: 1px dashed #707070;
    width: 100%;
    padding: 1rem;
    border-radius: 10rem;
    position: relative;
    color: #3F3F3F;
    margin-bottom: 6rem;
}

#menu .other_menu::before{
    position: absolute;
    content: "";
    height: 31rem;
    width: 31rem;
    background: url("../img/symbol.svg") no-repeat center center/contain;
    opacity: .1;
    right: 68%;
    margin-right: -50%;
    transform: translate(50%, 50%);
    bottom: 50%;
}

#menu .other_menu h3{
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-size: 6.4rem;
    position: absolute;
    top: -7rem;
    left: 10rem;
}

#menu .other_menu > div{
    background: white;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    padding: 7rem 12rem;
    font-weight: 600;
}

#menu .other_menu > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin: 1rem 0;
}

#menu .other_menu > div > div > div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#menu .other_menu p{
    font-size: 4.5rem;
    width: 20%;
    font-weight: normal;
}

#menu .other_menu div div p:first-child{
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}

#menu .other_menu div div p:nth-child(2){
    font-size: 4rem;
    width: 80%;
    font-weight: bold;
}

#menu .caution{
    width: 100%;
    margin-bottom: 26rem;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
}
#menu .caution p{
    font-size: 2.5rem;
    line-height: 200%;
}

@media screen and (max-width: 767px){
    #menu{
        width: 100%;
    }

    #menu h2{
        font-size: 11rem;
    }

    #menu > p{
        width: 85%;
    }

    #menu .menu_list::before{
        font-size: 24rem;
        top: 25%;
    }

    #menu .menu_list{
        flex-direction: column;
        margin-bottom: 10rem;
    }

    #menu .menu_list > div{
        flex-direction: row;
        width: 75%;
        margin-bottom: 36px;
        justify-content: space-between;
    }

    #menu .menu_list div img{
        height: unset;
        width: 45%;
    }

    #menu .menu_list > div > div{
        align-items: flex-start;
        width: 53%;
    }

    #menu .menu_list > div:nth-child(even){
        transform: unset;
        flex-direction: row-reverse;
    }

    #menu .menu_list div p{
        width: 100%;
        font-size: 3.8rem;
        text-align: left;
    }

    #menu .menu_list div:nth-child(3){
        margin-top: unset;
    }

    #menu .menu_list div:nth-child(4){
        margin-top: unset;
        margin-bottom: 0;
    }

    #menu .menu_list div h3{
        font-size: 5.8rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    #menu .other_menu{
        width: 80%;
        transform: translateX(-5%);
        margin-bottom: 5rem;
    }

    #menu .other_menu h3{
        font-size: 6rem;
        left: 3rem;
    }

    #menu .other_menu p{
        font-size: 3.8rem;
        width: 25%;
    }

    #menu .other_menu div .block_line{
        font-size: 3.8rem;
        width: 70%;
    }

    #menu .other_menu > div > div{
        width: 90%;
        justify-content: space-between;
    }

    #menu .other_menu > div{
        padding: 4rem 0;
    }

    #menu .other_menu::before{
        bottom: 20rem;
        right: 68%;
        z-index: 0;
    }

    #menu .caution{
        width: 87%;
        margin-bottom: 20rem;
    }
    
}